.header {
    border-bottom: 1px solid $clr-white;
    padding: 2rem 0;
    &__logo {
        h2 span {
            color: $clr-primary;
        }
    }
    nav ul li a{
        color: $clr-white;
    }
    nav ul {
        gap:2rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
}